<div class="example-container">
  <form>
    <button mat-button class="btn-detail white-icon" (click)="cancel()">
      <mat-icon>cancel</mat-icon>Cancelar</button>
    <button mat-button class="btn-detail white-icon" (click)="save()">
      <mat-icon>save</mat-icon>Salvar</button>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Nome" [formControl]="userName" required>
      <mat-error *ngIf="userName.invalid">{{getErrorMessageName()}}</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Email" [formControl]="userMail" required>
      <mat-error *ngIf="userMail.invalid">{{getErrorMessageMail()}}</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Vaga" [formControl]="opportunity">
    </mat-form-field>
    <br/>
    <hr/>
    <h6>Skills</h6>
    <form [formGroup]="technologiesFormGroup" (ngSubmit)="submit()">
      <div *ngFor="let tech of technologies; let i = index">
        <mat-checkbox *ngIf="!isDetail" class="example-margin" (change)="onChange($event)" [checked]="tech.checked" [value]="tech.id">{{tech.name}}</mat-checkbox>
        <span *ngIf="isDetail" style="font-weight: bold">{{tech.name}}</span>
      </div>
    </form>
  </form>
</div>